.header{
    position: relative;
    width: 100%;    
    filter: brightness(0.9);
    z-index: 1000;
}
.header::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
    background-size: cover;
    z-index: -1;        
}
.header .navbar{
    opacity: 0.9;
    position: absolute;
    background-color: #e3f2fd;
    z-index: 1000;
}

.formulario{
    border: solid 1px grey;
    border-radius: 5px;
    padding: 3rem;
    margin-top: 10rem;
}
i img{
    border: solid 3px rgb(55, 90, 90);
    border-radius: 50%;
}